<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Innovation Tech</title>
  </head>

  <body>
    <h1>Innovation Technologique</h1>
    <?php include 'Acceuil.php';?>

  </body>
</html>
