<html>
  <head>
    <meta charset="utf-8">
    <title>Acceuil cate</title>
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <th>price</th>
        <th>marque</th>
        <th>année</th>
        <th>test</th>
      </tr>

      <tr>
        <td id=phone>Phone</td>
        <td id=pc> PC</td>
        <td id=drones>Drones </td>
        <td id=other>Other</td>
      </tr>
    </table>

  </body>
</html>
