<html>
  <head>
    <meta charset="utf-8">
    <title>Acceuil cate</title>
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <th>Marque</th>
        <th>Price</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>

      <tr>
        <td> test</td>
        <td> {{ categories }} </td>
      </tr>

  </body>
</html>
